.webgl-content * {border: 0; }
.webgl-content { -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content{margin:320px 0 0 250px}
.footer2{overflow: hidden;width:600px}
.fullscreen {cursor: pointer;float:right;margin-top:25px;height: 50px; display: inline-block; background: transparent center no-repeat;background-image: url('fullscreen.png'); width: 38px;}